.top-bar{
    background: blueviolet;
}
.right-menu{
    width: 40%;
    float:right;
}
.left-menu{
    width:35%;
    float:left;
}

.right-menu ul li, .left-menu ul li{
    display: inline-block;
    padding:10px 15px;
}
.right-menu ul li a, .left-menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color: bisque;
}
.right-menu ul li a i, .left-menu ul li a i{
    margin-right: 5px;
    font-size: 18px;
}
.table-section{clear:both;}
.table-title{
    width:80%;
    float:right;
    margin-top: 20px;
}
.export-btn{
    width:200px;
    height: 50px;
    float:left;
    margin-top: 20px;
    bottom:20px;
    border: 2px solid rgb(205, 205, 205);
    font-size: 18px;
    transition: 0.3s;
}
.export-btn:hover{
    background:rgb(86, 85, 85);
    color: white;
}
.table{
    clear: both;
    margin-top: 30px;
}
.search-area{
    width:100%;
    clear: both;
}
.s-box{
    width: 21%;
    float: left;
    margin:1%;
}
.ts-box{
    width: 240px;
    float: left;
    margin:5px;
}
.truck-details-list, .task-details-list {
    clear: both;
    width: 98%;
    height: 110px;
    background: #fdfcf2;
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    padding: 10px 20px;
    margin: 10px;
}
.truck-details-list:hover{
    background:rgb(252, 236, 132);
}
.trucks-name,.trucks-point, .delivery-time, .upload-date-time{
    width:23%;
    float:right;
}
.trucks-name{
    width:31%;
}
.data-part{
    width: 60%;
    float:right;
}
.details {
    background: rgb(203, 203, 203);
    width: 95%;
    /* height: 60px; */
    /* padding: 10px 15px; */
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.details p{
    margin-right: 10px;
}
.details .driver-name{
    width: 74%;
}
.login-box {
    width: 40%;
    margin: 20px auto;
    border: 2px solid #445df0;
    padding-top: 56px;
    box-shadow: 0px 0px 5px 6px #d9d9d9;
    height: 325px;
    margin-top: 50px;
}
.login-form{
    width:50%;
    margin: 0 auto;
}
.login-btn{
    background: #021376;
    color: white;
    font-size: 20px;
    transition: .4s;
}
.login-btn:hover{
    background:#1335f8;
}
.task-id,.task-name, .task-point, .status-icon, .upload-date, .status, .location-select{
    width:10%;
    float:right;
}
.task-name{
    width:23%;
    margin-left:10px;
    
}
.task-name h3{
    font-size: 18px;
    font-weight: 400;
}
.task-point{width: 25%;}
.task-details-list:hover{
    background:wheat;
}